body {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    background-image: url('image/H.png'); /* Utilisez des barres obliques pour le chemin */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: white;
    padding: 20px;
}

h1 {
    color: rgb(1, 1, 14);
    font-family: 'Rubik Wet Paint', cursive;
    margin-top: 130px;
    margin-bottom: 20px;
}

.video-container {
    position: absolute;
    width: 300px;
}

.top-left {
    top: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
}

.bottom-right {
    bottom: 20px;
    right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #17202a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.text-input {
    width: 300px; /* Ajusté la largeur */
    padding: 10px;
    margin: 10px 0;
    background-color: #19b0c4;
    color: #000000;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
}

.text-input::placeholder {
    color: #cc0b0b;
    opacity: 0.7;
}

.audio-container {
    margin: 20px 0;
    text-align: center;
}

.audio-container audio {
    width: 100%;
    max-width: 300px;
    background-color: #123b69;
    color: white;
    border-radius: 5px;
}

